.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 50px 1fr;
    grid-template-areas:
    "header"
    "navigation"
    "main";
}
header {
    grid-area: header;
}
nav {
    grid-area: navigation;
}
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
   display: grid;
   grid-gap: 10px;
}


/* -----------------------------
  Media Queries
------------------------------ */

@media (min-width: 768px) {
    .grid-container {
        grid-template-rows: 70px 60px 1fr;
    }
    .half-size-charts,
    .member-info,
    .message-and-settings {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

}

@media (min-width: 1024px) {
    .grid-container {
        display: grid;
        height: 100%;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas:
        "header header"
        "navigation main";
    }

}
