* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #4d4d4d;
}

canvas {
  max-width: 100%;
}

/* -----------------------------
  Header Styles
------------------------------ */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.header-title {
    margin-right: auto;
    margin-left: 10px;
    font-size: 1.4em;
    color: white;
}

.notification-bell {
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #FFFFFF;
}

.bell {
    width: 25px;
}

.bell:hover {
    cursor: pointer;
}

.bell:hover path {
    fill: #0d5259;
}

.dot {
    background-color: #ee3f46;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 18px;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 6px;
    margin-left: 10px;
}

.profile-pic {
   border-radius: 50%;
   padding: 2px;
   margin-right: 5px;
}

.user-name {
    font-size: 14px;
    color: white;
}

/* -----------------------------
  Navigation Styles
------------------------------ */
nav {
    text-align: center;
}

.nav-img {
    margin: 10px 10px;
    width: 40px;
    height: 40px;
}

/* -----------------------------
  Dashboard Styles
------------------------------ */
.main-header {
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.headline-dashboard {
    padding: 0 10px;
    font-size: 1em;
    font-weight: bold;
}

.main-header-search {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    background-color: #ececec;
    border-bottom: 2px solid #dfdfdf;
    border-left: 2px solid #dfdfdf;
}

.input {
    flex-grow: 1;
    margin: 8px 10px 8px 0;
    border: 0.5px solid silver;
    border-radius: 5px;
    padding: 10px;
    max-width: 60%;
}

/* -----------------------------
  Alert Styles
------------------------------ */
.alert {
    max-height: 50px;
    padding: 0px;
    margin: 8px 20px;
    border-radius: 5px;
    background-color: #f47d23;
}

.alert-banner {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    background-color: #f47d23;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
    border-radius: 5px;
    margin-left: 20px;
}

.alert-banner-close {
    margin-left: auto;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

/* -----------------------------
  Chart Styles
------------------------------ */

.widget-container-full,
.widget-container-half {
    width: 93vw;
}

#daily-traffic {
}

#doughnutChart {
    max-width: 100% ;
}

/* -----------------------------
  Traffic Styles
------------------------------ */
.traffic-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headline-section {
    margin-right: auto;
    margin-left: 5px;
}

.traffic-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    list-style-type: none;
}

.traffic-nav-link {
    padding: 0 3px;
    font-size: 13px;
}

/* -----------------------------
  Social Styles
------------------------------ */

.social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.flex-social {
    display: flex;
    flex: 1 auto;
    justify-content: center;
    width: 300px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px;
    margin: 5px 5px;
}

.social-image {
    height: 60px;
    width: 60px;
}

.social-text {
    margin-left: 20px;
}

.social-text p:first-child {
    color: #248188;
    font-weight: bold;
}

.social-text p:last-child {
    font-size: 28px;
}

/* -----------------------------
  Members Styles
------------------------------ */

.member-container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.member-img {
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
}

.member-info {
   align-items: flex-start;
   display: flex;
}

.member-info p{
    font-size: 16px;
}

.member-info a {
    text-decoration: none;
    color: #ee3f46;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

.member-date {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

.activity-info {
    padding-top: 10px;
}

/* -----------------------------
  Message Styles
------------------------------ */
.message-input  {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input-contact {
    margin-bottom: 5px;
}

.input-contact,
.textarea-contact {
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 10px;
}

.textarea-contact{
    margin-bottom: 15px;
    padding-bottom: 30px;
    color: rgb(114, 114, 114);
}

.btn-send {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #248188;
    color: white;
}

/* -----------------------------
  Settings Styles
------------------------------ */
.settings {
    text-align: center;
}

.switch-light {
    margin: 10px 20px 22px 8px;
    display: flex;
    align-items: center;
}

.switch-light strong {
    margin-right: auto;
}

.switch-light span {
    margin-left: auto;
}

.span-btn {
    max-width: 25%;
}

.btn-1,
.btn-2 {
    font-size: 1rem;
}

/* -----------------------------
  Additional Styles
------------------------------ */
.heading {
    margin-left: 5px;
}

h3 {
    margin-bottom: 15px;
}

.time-zone {
    width: 90%;
    padding: 8px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    color: #7f7f7f;
    background-color: #f2f2f2;
}

.btn-save,
.btn-cancel {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #248188;
    color: white;
    margin: 5px 10px;
    width: 40%;
}

.btn-cancel {
    background-color: #b2b2b2;
}

.dashboard {
	background: #f2f2f2;
}

header {
	background: #248188;
}

nav {
	background: #0d5259;
}

main {
	background: white;
}

.nav-img,
.profile-pic {
    width: 30px;
}
