* {
  font-family: 'Poppins', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

header {
  grid-area: header;
  background-color: #248188;
  color: #fff;
  font-weight: 300;
}

nav {
  grid-area: navigation;
  background-color: #0d5259;
}

main {
  grid-area: main;
}
