* {
  box-sizing: border-box;
}

/* --------------------------
  Type Styles
--------------------------- */

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
}

h2,
h3 {
  text-transform: uppercase;
  color: #7f7f7f;
  margin-left: 25px;
}

p {
  font-size: 1rem;
  line-height: 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #4d4d4d;
}

/* --------------------------
  SVG Styles
--------------------------- */

.social-image {

}

/* --------------------------
  Header Styles
--------------------------- */

header {
  background-color: #248188;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 300;
  margin-right: auto;
  margin-left: 30px;
  color: #fff;
}

.bold {
  font-weight: 700;
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0px;
}

.header-icon {
  width: 35px;
  height: 35px;
  margin: 0 25px;
}

.header-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: double 6px #0d5259;
}

.header-name {
  color: #fff;
  font-size: 1.25rem;
  text-transform: inherit;
  font-weight: 400;
  margin-right: 25px;
}

/* --------------------------
  Navigation Styles
--------------------------- */

nav {
  background-color: #0d5259;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

nav img {
  width: 35px;
  height: 35px;
  margin: 0 30px;
}

/* --------------------------
  Main Header Styles
--------------------------- */

.main-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.headline {
  background-color: #fff;
  margin: 0 25px;
}

.main-header-search {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: 2px solid #b2b2b2;
  border-left: 2px solid #b2b2b2;
  padding: 20px 30px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #b2b2b2;
  font-weight: 300;
  color: #b2b2b2;
}

/* --------------------------
   Traffic Styles
--------------------------- */

.traffic-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.traffic-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 25px;
}

.traffic-nav li {
  padding-left: 30px;
}

/* --------------------------
  Social Styles
--------------------------- */

.social svg {
  width: 90px;
  height: 90px;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  border: 2px solid #b2b2b2;
  border-radius: 6px;
  background-color: #f2f2f2;
  padding: 20px 25px;
  margin-top: 20px;
}

.social-text {
  margin-right: 10px;
}

.social-name {
  font-weight: 700;
  color: #248188;
}

.social-count {
  font-size: 2.5rem;
}

/* --------------------------
  Members Styles
--------------------------- */

.members {
  border: 2px solid #b2b2b2;
  margin-top: 30px;
}

.members-container img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.members-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: .5px solid #b2b2b2;
  padding-bottom: 15px;
  padding-right: 25px;

}

.members-text {
  flex-grow: 2;
  margin-left: 15px;
}
